# String resources for secrets, e.g. API keys
app/src/main/res/values/secrets.xml

*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
